@{
    ViewBag.Title = "Strona główna";
}

<div>
    <nav class="genres-horizontal">
        <ul>
            <li>
                <a href="" style="background-image: url(../Content/Genre-icons/rock.png); ">
                    Badania rolnicze
                </a>
            </li>
            <li>
                <a href="" style="background-image: url(../Content/Genre-icons/rnb.png); ">
                    Badania ogrodnicze
                </a>
            </li>
            <li>
                <a href="" style="background-image: url(../Content/Genre-icons/electro.png); ">
                    Badania Sadownicze
                </a>
            </li>
            <li>
                <a href="" style="background-image: url(../Content/Genre-icons/metal.png); ">
                    Nawozy mineralne
                </a>
            </li>
            <li>
                <a href="" style="background-image: url(../Content/Genre-icons/pop.png); ">
                    Nawozy organiczne
                </a>
            </li>
            <li>
                <a href="" style="background-image: url(../Content/Genre-icons/classics.png); ">
                    Badadania inne
                </a>
            </li>
            <li>
                <a href="" style="background-image: url(../Content/Genre-icons/jazz.png); ">
                    Jazz
                </a>
            </li>
            <li>
                <a href="" style="background-image: url(../Content/Genre-icons/reagge.png); ">
                    Reagge
                </a>
            </li>
            <li>
                <a href="" style="background-image: url(../Content/Genre-icons/other.png); ">
                    Inne
                </a>
            </li>
            <li>
                <a href="" style="background-image: url(../Content/Genre-icons/hiphop.png); ">
                    Hip Hop
                </a>
            </li>
            <li>
                <a href="" style="background-image: url(../Content/Genre-icons/alternative.png); ">
                    Alternative
                </a>
            </li>
            <li>
                <a href="" style="background-image: url(../Content/Genre-icons/promos.png); ">
                    Promocje
                </a>
            </li>
        </ul>
    </nav>
</div>

<section>
    <ul class="ThreeColumnsCoversList large-cover-list">
        <li>
            <article>
                <a class="addtocartlink" href="aaaa">
                    <img src="../Content/Images/cart.png" />
                </a>
                <a class="productdetailslink" href="asd">
                    <div class="newFlag"></div>
                    <img class="album-cover" src="../Content/Covers/1.png" />
                    <h1>
                        Testowy obrazek
                    </h1>
                </a>
            </article>
        </li>
        <li>
            <article>
                <a class="addtocartlink" href="aaaa">
                    <img src="../Content/Images/cart.png" />
                </a>
                <a class="productdetailslink" href="asd">
                    <div class="newFlag"></div>
                    <img class="album-cover" src="../Content/Covers/2.png" />
                    <h1>
                        Testowy obrazek
                    </h1>
                </a>
            </article>
        </li>
        <li>
            <article>
                <a class="addtocartlink" href="aaaa">
                    <img src="../Content/Images/cart.png" />
                </a>
                <a class="productdetailslink" href="asd">
                    <div class="newFlag"></div>
                    <img class="album-cover" src="../Content/Covers/3.png" />
                    <h1>
                        Testowy obrazek
                    </h1>
                </a>
            </article>
        </li>
    </ul>
</section>


@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@